#modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    padding-top: 40px;
    display: block;
    width: 100%;
    max-width: 600px;
}
#close {
    color: #f1f1f1 ;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.textoMx{
  display: inline-block;
  background-color: transparent;
  border-color: transparent;

}
